pipeline/13_delta_table.json
{
	"name": "13_delta_table",
	"properties": {
		"activities": [
			{
				"name": "MD1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "para_data_csv",
						"type": "DatasetReference",
						"parameters": {
							"ds_system": {
								"value": "@pipeline().parameters.pp_system",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory",
								"type": "Expression"
							},
							"ds_file": {
								"value": "@pipeline().parameters.pp_file",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MD1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MD1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "9_ADF_delta",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/raamashaamy@gmail.com/9_ADF_delta"
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pp_system": {
				"type": "string",
				"defaultValue": "project-contianer"
			},
			"pp_directory": {
				"type": "string",
				"defaultValue": "project/input"
			},
			"pp_file": {
				"type": "string"
			}
		},
		"annotations": []
	}
}