pipeline/9_txt_to_csv.json
{
	"name": "9_txt_to_csv",
	"properties": {
		"activities": [
			{
				"name": "copy txt to csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "para_data_txt",
						"type": "DatasetReference",
						"parameters": {
							"ds_system": {
								"value": "@pipeline().parameters.pp_system",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_folder_in",
								"type": "Expression"
							},
							"ds_file": {
								"value": "@pipeline().parameters.pp_file",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "para_data_csv",
						"type": "DatasetReference",
						"parameters": {
							"ds_system": {
								"value": "@pipeline().parameters.pp_system",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_folder_out",
								"type": "Expression"
							},
							"ds_file": {
								"value": "@pipeline().parameters.pp_csv",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "copy txt to csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"ds_system": {
									"value": "@pipeline().parameters.pp_system",
									"type": "Expression"
								},
								"ds_directory": {
									"value": "@pipeline().parameters.pp_folder_out",
									"type": "Expression"
								},
								"ds_file": {
									"value": "@activity('copy txt to csv').output",
									"type": "Expression"
								}
							},
							"sink1": {
								"ds_system": {
									"value": "@pipeline().parameters.pp_system",
									"type": "Expression"
								},
								"ds_directory": {
									"value": "@pipeline().parameters.pp_folder_out",
									"type": "Expression"
								},
								"ds_file": {
									"value": "@pipeline().parameters.pp_file",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"pp_system": {
				"type": "string"
			},
			"pp_folder_in": {
				"type": "string"
			},
			"pp_file": {
				"type": "string"
			},
			"pp_folder_out": {
				"type": "string"
			},
			"pp_csv": {
				"type": "string"
			}
		},
		"annotations": []
	}
}